footer {
  background: #000000;
}
.footer-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fefefe;
  margin-top: 66px;
  margin-bottom: 22px;
}
.footer-text {
  max-width: 684px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 37px;
  color: #b9b9b9;
}
.footer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  color: #b9b9b9;
  margin-top: 34px;
  margin-bottom: 70px;
}
