.section-main img {
  max-width: 100%;
  height: auto;
}
.burgere-wrapp {
  position: relative;
}
.menu-wrapp {
  margin: 43px 0px 41px;

  .menu {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
    .menu-list {
      display: flex;
      justify-content: center;
      .menu-item {
        margin-right: 6%;

        a {
          font-weight: 400;
          font-size: 11px;
          line-height: 22px;
          letter-spacing: 1.1px;
          text-transform: uppercase;
          color: #4e4e4e;
          text-decoration: none;
          display: block;
          &:hover {
            color: rgba(87, 164, 164, 1);
          }
        }
      }
    }
  }
 
}
