.section-posts {
  margin-top: 69px;
}
.cards-wrapp {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 69px;
}

.posts-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
  margin-bottom: 24px;
}
.section-gallery {
  margin: 20px;
}
.cards-gallery {
  display: flex;
  max-width: 555px;
  margin: -15px;
  @media (max-width: 586px) {
    flex-wrap: wrap;
  }
  img {
    margin-right: 20px;
  }
}
.gallery-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #4e4e4e;
}
.gallery-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #7c7c7c;
}
.desctop-info {
  margin-top: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
  width: 404px;
  @media (max-width: 586px) {
    display: none;
  }
}

.gallery-title {
  margin-bottom: 15px;
}
