.section-wrapp-inst {
  background: rgba($color: #000000, $alpha: 0.03);
}
.section-inst {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-top: 74px;
}
.inst-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
}
.inst-disc {
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
}

.img-inst {
  display: flex;
  margin: -6px;
  margin-bottom: 49px;
}

.img-inst img {
  min-width: 1%;
  padding: 6px;
}
.media-none {
  @media (max-width: 1180px) {
    display: none;
  }
}
.media-two {
  @media (max-width: 650px) {
    display: none;
  }
}
