@import './reset';
@import './base';
@import './header';
@import './main';
@import './main-last';
@import './burger';
@import './footer';

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
}
